/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS reset */

body {
    background: #DAE0E6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 100%;
}
.container {
    max-width: 100%;
}
.container header {
    width: 100%;
    background: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
}
.container header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container header nav .post-here {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container header nav .post-here p{
    font-size: calc(1.2em + 1.2vw);
    padding: 0 0 0 2%;
}
.container header nav .logo {
    width: 10%;
    padding: 2% 0 2% 6%;
}
.container header nav .nav-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1% 0 0;
}
.container header nav .nav-links a{
    padding: 0 3% 0 3%;
    text-decoration: none;
    font-size: calc(.6em + .6vw);
    color: black;
}
.container header nav .nav-links a:hover {
    color: #0079D3;
}
.container header  #signup {
    color: #0079D3;
}
.container header nav .profile {
    max-width: 6%;
}
.main-content {
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: calc(1.25em + 1.25vw);
    margin: 2.5% 0 1.5% 0;
}
.our-team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.our-team .person {
    text-align: center;
    width: 30%;
    margin: 1.5%;
}
.our-team .person img {
    width: 100%;
}
.our-team .person .name {
    color: black;
    margin: 2.5%;
    font-size: calc(.7em + .7vw);
}
.our-team .person .role {
    color: grey;
}
.our-team .person p {
    color: black;
    font-size: calc(.6em + .6vw);
}

.container footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0 0 0;
}
footer p {
    font-size: calc(.4em + .4vw);
}
@media (max-width: 500px) {
    .container header {
        height: 15%;
    }
    .container header nav {
        display: block;
    }
    .container header nav .post-here {
        justify-content: center;
        font-size: calc(1.1em + 1.1vw);
        margin-top: 1%;
    }
    .container header nav .nav-links {
        font-size: calc(1.4em + 1.4vw);
        text-align: center;
        justify-content: center;
        margin-bottom: 3%;
    }
    .main-content {
        padding: 0 1% 0 1%;
    }
    h1 {
        margin: 5% 0 5% 0;
        font-size: calc(1.3em + 1.3vw);
    }
    .our-team {
        flex-direction: column;
    }
    .our-team .person {
        width: 70%;
        margin-bottom: 3%;
    }
    .our-team .person .name {
        font-size: calc(1.2em + 1.2vw);
    }
    .our-team .person .role {
        font-size: calc(.9em + .9vw);
        color: #4d5966;
    }
    footer p {
        margin-top: 3%;
        font-size: calc(.6em + .6vw);
    }
}
@media (min-width: 501px) and (max-width:800px) {
    .container header {
        height: 10%;
    }
    .container header nav .post-here {
        font-size: calc(.8em + .8vw);
    }
    .container header nav .post-here img {
        width: 12.5%;
    }
    .container header nav .nav-links {
        font-size: calc(.9em + .9vw);
    }
    h1 {
        margin: 5.5% 0 4.5% 0;
    }
    .our-team .person {
        width: 45%;
        justify-content: space-evenly;
    }
}
@media (min-width: 801px) and (max-width: 1024px) {
    .container header {
        height: 10%;
    }
    .container header nav .post-here {
        font-size: calc(.7em + .7vw);
    }
    .container header nav .nav-links {
        font-size: calc(.8em + .8vw);
    }
    h1 {
        margin: 4.5% 0 3.5% 0;    }
}